* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  max-width: 100vw;
  overflow-x: hidden;
}

.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 10px 15px;
  background: #fff;
  position: relative;
}

.nav_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav_logo img {
  height: 60px;
  width: 60px;
}

.title {
  text-transform: uppercase;
  font-size: 30px;
  color: #585858;
  font-family: sans-serif;
}

.nav_options {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.nav_button {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
  font-family: sans-serif;
  padding: 10px 15px;
  border-radius: 5px;
  background: #f1f1f1;
  cursor: pointer;
  transition: all 0.3s;
}

.icon {
  font-size: 20px;
}

.nav_button.active {
  background: blue;
  color: #fff;
  border-radius: 50px;
}

.toogle_bar {
  display: none;
}

.section_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  height: 60px;
  font-family: sans-serif;
}

.section_title {
  font-size: 20px;
  color: #535353;
}

.current_title {
  padding: 5px;
  background: rgb(2, 164, 2);
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.date_time {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.date,
.time {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: uppercase;
}

.date .icon,
.time .icon {
  color: blue;
  font-size: 16px;
}

@media screen and (max-width: 520px) {
  .nav_options {
    position: absolute;
    top: 80px;
    background: #fff;
    right: 5px;
    top: 0;
    padding: 10px;
    opacity: 0;
    transition: all 0.5s;
    border-radius: 5px;
  }
  .nav_button {
    padding: 15px 20px;
  }
  .nav_options.active {
    top: 80px;
    opacity: 1;
  }

  .toogle_bar {
    display: block;
    position: relative;
  }

  .inner_toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: #f1f1f1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
  }

  .inner_toggle span.line {
    width: 70%;
    height: 3px;
    background: blue;
    border-radius: 50%;
    position: relative;
    transition: all 0.4s;
  }

  .inner_toggle span.li-mid {
    margin-top: 3px;
  }
  .inner_toggle span.li-bot {
    margin-top: 3px;
  }

  .inner_toggle {
    overflow: hidden;
  }

  .inner_toggle.active span.line {
    margin-top: 0;
    position: absolute;
    background: red;
  }

  .inner_toggle.active span.li-top {
    transform: rotate(45deg);
  }

  .inner_toggle.active span.li-bot {
    transform: rotate(-45deg);
  }

  .inner_toggle.active span.li-mid {
    transition: all 0.4s;
    transform: translateX(-125%);
  }
}
